<table class="categories" border="0" cellspacing="0" cellpadding="0" style="padding-top: 10px; padding-bottom: 10px;">
    <tbody>
    <tr>
        <td style="padding-top: 10px; padding-bottom: 10px;">
            <table border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td width="55" align="left" valign="middle" style="font:12px Arial, Helvetica, sans-serif; color:#3d3d3d; font-weight:bold; padding-left:2px; padding-right: 10px;">FLIGHT</td>
                    <td width="26" align="left" valign="top"><a alias="Flight" href="http://www.icelandair.us/flights?utm_source=newsletter&utm_medium=email&utm_campaign=_flights&utm_content=link" target="_blank" style="font:12px Arial, Helvetica, sans-serif; color:#ffffff; text-decoration:none;" title="Flight" conversion="false"><img src="http://image.email.icelandair.is/lib/ff011674776204/m/1/Plane_Icon_Mobile.png" width="26" height="25" border="0" style="display: block; width: 26px; height: 25px; border-color: #000000; margin: 0px;"></a></td>
                    <td width="65" align="center" valign="middle" style="font:12px Arial, Helvetica, sans-serif; color:#3d3d3d; font-weight:bold; padding-right: 10px; padding-left: 10px;">HOTEL</td>
                    <td width="29" align="left" valign="top"><a alias="" href="http://hotels.icelandair.com/?aid=399029&lang=en-us&selected_currency=USD&label=Newsletter" target="_blank" style="font:12px Arial, Helvetica, sans-serif; color:#ffffff; text-decoration:none;"><img src="http://image.email.icelandair.is/lib/ff011674776204/m/1/Home_Icon_Mobile.png" width="29" height="25" alt="" title="" border="0" style="display:block;"></a></td>
                    <td width="58" align="center" valign="middle" style="font:12px Arial, Helvetica, sans-serif; color:#3d3d3d; font-weight:bold; padding-right: 10px; padding-left: 10px;">CAR</td>
                    <td width="25" align="left" valign="top"><a alias="" href="http://carrental.icelandair.com/?cor=us&adplat=newsletter&adcamp=" target="_blank" style="font:12px Arial, Helvetica, sans-serif; color:#ffffff; text-decoration:none;"><img src="http://image.email.icelandair.is/lib/ff011674776204/m/1/Car_Icon_Mobile.png" width="25" height="25" alt="" title="" border="0" style="display:block;"></a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>


Disclaimer
<table class="mobile-hidden" cellpadding="0" cellspacing="0" border="0" width="100%">
    <tbody>
    <tr>
        <td width="600" align="left" valign="top" style="font:10px Arial, Helvetica, sans-serif; color:#4d4d4d; padding-top:10px; padding-bottom:10px;">*Prices quoted are round-trip including all taxes and fees, and are based on availability. <a alias="" href="http://www.google.com/url?q=http%3A%2F%2Fwww.icelandair.us%2Finformation%2Ftravel-guide%2Foptional-service-and-fees%2F&sa=D&sntz=1&usg=AFQjCNFLAIUyxe1gZDWQlQnipSOcY0ujCQ" target="_blank" style="color:#000001; text-decoration:underline;">Additional baggage<br>
            and optional service fees</a> may apply.<br>
            This email has been sent to the following email address:%%emailaddr%% <br>
            <br>
            <a alias="www.icelandair.us" href="http://www.icelandair.us" target="_blank" style="color:#000001; text-decoration:underline;" title="www.icelandair.us" conversion="false">Land Only Booking Engine</a>&nbsp;|&nbsp;<a alias="" href="http://www.google.com/url?q=http%3A%2F%2Fwww.icelandair.us%2Finformation%2Fabout-icelandair%2Fprivacy-terms%2Fcancellation-terms%2F&sa=D&sntz=1&usg=AFQjCNFg5vFbFOrF9fWo4TQ2afwfAH_RVQ" target="_blank" style="color:#000001; text-decoration:underline;">Cancellation Waiver</a>&nbsp;|&nbsp;<br>
            <br>
            Icelandair North America, 1900 Crown Colony Dr. Quincy, MA 02169<br>
            &copy; 1999-2016 Icelandair. All rights reserved. </td>
    </tr>
    </tbody>
</table>

