/*
1. Style for tablets first.
2. Most styles declared in portrait, then landscape-specific rules.
3. Use rems to scale fonts once for tablets, then make the html/body px smaller once for Smartphones in media query.
*/

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "AltitMed";
    src: url("Altitude-Medium.ttf");
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #000000;
    font-size: 1rem;
    line-height: 1em;
}

html {
    /*background: #808080 url('background.jpg') no-repeat 50% 0%;*/
    /*background-size: cover;*/
    background: #002246;
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
}

div, span, input, select, label {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.resource-sink {
    transform: translateZ(0);
}

h1, h2, h3, h4, p, ul, ol {
    margin: 0;
    padding: 0;
}

button {
    font-family: "AltitMed";
    color: #444444;
    background: #ffb600;
    padding:1.6% 4% 1.4%;
    border:0;
    border-radius: 5px;
    margin:auto;
    display: block;
    font-size: 1rem;
    clear: both;
}


#rules {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:10%;
    overflow: auto;
    background: rgba(0,0,0,.8);
    color: #fff;
}

#alert_message {
    width:100%;
    height:100%;
    background: rgba(0,0,0,.7);
    display: none;
    position: absolute;
    top:0;
    left:0;
}

#alert_message > div {

    background: #ffffff;
    color: #000;
    width:50%;
    padding: 5% 10%;
    text-align: center;
    border-radius: 5px;
    margin:30% auto 0;
    position: relative;
}

#close, #closeRules {
    position: absolute;
    top:10px;
    right:10px;
    font-size: 1.5rem;
    padding:1%;

}

#enterEmail {width: 29%;line-height: 1.2rem;
    color: #fff;
    margin:1% auto 2.8%;}

.hide {
    display: none;}


#logo_top {
    margin:25% 0 0 0;}

#logo_bottom {margin: 0 0 4%;}

#wrapper {
    background: #808080 url('background.jpg') no-repeat 50% 0%;
    background-size: cover;
    opacity:0;
    width: 100%;
    height: 100%;
}


.bg_thumb {
    float: left;
    width:32%;
    margin:1%;
   box-sizing: border-box;
}

.margLeft {margin-left: 17.5%;}
.margTop {margin-top: 5%;}
.margBottom {margin-bottom: 5%;}

#select_bg {margin-top: 10%;}
#submit {margin: 3% auto 0;display:block;}

#start {
}

#data {
    display: none;
}

#mozeus {
    margin: 0 auto;
    width: 80%;
    overflow: auto;
}

.input {
    border-radius: 10px;
    overflow: visible;
    width:50%;
    margin:0% auto 2%;

}

.input:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

label {
    display: block;
    clear: both;
    line-height: 1.2rem;
}

input, select {
    width: 100%;
    padding:30px 15px;
    background-color: transparent;
    color: #004084;
    border: 0;
    font-size: 1rem;
    height: 2.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*-webkit-border-radius: 0;*/
    /*-moz-border-radius: 0;*/
    /*border-radius: 0;*/
}



input {border-radius: 10px;background: rgba(255,255,255,.7)}

#Email {
    width: 84%;
    float: left;
    border-right: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#EmailDomain {
    width: 16%;
    border-radius: 10px;
    float: right;
    border-left: 1px solid #004084;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: url("arrow.png");
    background-size: 20px 20px;
    background-position: 48% 52%;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,.7);
}

::-webkit-input-placeholder {
    color: #004084;
}

:-moz-placeholder {
    color: #004084;
}

::-moz-placeholder {
    color: #004084;
}

:-ms-input-placeholder {
    color: #004084;
}

*:focus {
    outline: 0;
}

input[type=checkbox] {
    background: url('check_off.png') no-repeat center center;
    padding: 0;
    width: 40px;
    height: 40px;
    -webkit-background-size: 40px 40px;
    float: left;
    margin: 0 10px 0 0;
}

input[type=checkbox]:checked {
    background: url('check_on.png') no-repeat center center;
    background-color: rgba(255,255,255,.7);border-radius: 10px;
    padding: 0;
    width: 40px;
    height: 40px;
    -webkit-background-size: 40px 40px;
}

.check label {
    width: 90%;
    display:block;
    color: #fff;
    clear: inherit;
    background: transparent;
}

.check label span {
    color: #ffb600;text-decoration: underline;}

.check {background: transparent!important;
    width:85%;padding-left: 17.5%;font-size: .9rem;}
.check input {    background: rgba(255,255,255,.7);border-radius: 10px;display:block}

.button {
    display: block;
    clear: both;
    background-color: #000;
    text-align: center;
    color: #fff;
    width: 200px;
    min-width: 200px;
    margin: 0 auto 20px;
    padding: 10px 2.5%;
    font-size: 1.25rem;
    border: 0;
}

@-webkit-keyframes push {
    50% {
        -webkit-filter: hue-rotate(30deg) brightness(.5);
        filter: hue-rotate(30deg) brightness(.5);
        -webkit-transform: scale3d(.8, .8, .8);
        transform: scale3d(.8, .8, .8);
    }
}

@keyframes push {
    50% {
        -webkit-filter: hue-rotate(30deg) brightness(.5);
        filter: hue-rotate(30deg) brightness(.5);
        -webkit-transform: scale3d(.8, .8, .8);
        transform: scale3d(.8, .8, .8);
    }
}

.push {
    -webkit-animation: push .125s linear;
    animation: push .125s linear;
}

.keypad {
    height: 50%;
    clear: both;
}

@media all and (orientation: landscape) {
    #start {
    }

    #data {
    }

    .keypad {
        height: 60%;
    }
}

/* Desktop */
@media all and (min-device-width: 1366px) and (-webkit-device-pixel-ratio: 1) and (orientation: landscape) {

}

/* Android tablets have a different aspect ratio from iOS tablet, so vertical %'s will change) */
/* Android tablet landscape */
@media all and (min-device-width: 1280px) and (max-device-width: 1281px), all and (device-width: 1920px) and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* Android tablet portrait */
@media all and (device-width: 800px), all and (device-width: 1080px), all and (device-width: 1200px) {
}

/* Smartphones: emulators don't treat this like a device will, so set these styles last */
@media only screen and (min-device-width: 320px) and (max-device-width: 767px), screen and (min-device-width: 801px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-width: 1025px) and (max-device-width: 1365px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (device-width: 1440px) and (-webkit-min-device-pixel-ratio: 3.0), screen and (device-width: 2560px) and (-webkit-min-device-pixel-ratio: 3.0) {
    html, body {
        font-size: 14px;
    }

    input[type=checkbox], input[type=checkbox]:checked, input[type=radio], input[type=radio]:checked {
        width: 15px;
        height: 15px;
        -webkit-background-size: 15px 15px;
        margin: 0 5px 0 0;
    }
}

/* Remove keypadding on iOS and desktop */
@media screen and (device-width: 320px) and (max-device-height: 568px) and (-webkit-min-device-pixel-ratio: 2), screen and (device-width: 375px), screen and (device-width: 414px), screen and (device-width: 768px) {
    .keypad {
        height: 0;
    }
}

/* rotate */
@media all and (orientation: portrait) {
    html, body {
        overflow: hidden;
    }

    body * {
        display: none !important;
    }

    body:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 50;
        background: transparent url('rotate.png') 50% 50% no-repeat;
        background-size: 66.66% auto;
        -webkit-animation-name: rotate;
        -webkit-animation-duration: 3s;
        -webkit-animation-iteration-count: infinite;
        -webkit-transition-timing-function: linear;
        /*-webkit-filter: drop-shadow(0 0 .5em rgba(0,0,0,0.5));*/
    }

    body:before {
        content: "ROTATE";
        text-align: center;
        width: 100%;
        color: #fff;
        position: absolute;
        top: 49%;
        font-size: 1.5rem;
        text-shadow: 0px .125em .125em rgba(0, 0, 0, 0.5);
    }
}

@-webkit-keyframes rotate {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
